# Unreal Engine generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
*.VC.db
*.VC.opendb
*.sln
*.suo
*.sdf
*.opensdf
*.VC.VC.opendb

# Build artifacts
*.pdb
*.ipdb
*.iobj
*.ipdb
Target.cs.bak

# Crash logs
Crashes/

# OS
Thumbs.db
Desktop.ini
.DS_Store
